<div class="w_100 pd10">

  <div class="w_100 pd10">

    <div class="w_100">
      <h3 class="text-center">系统列表:</h3>
    </div>

    <div class="w_100">
      <ul class="li_none">
        <!--<li>-->
          <!--<div class="mb15">-->
            <!--<a class="button button-royal button-rounded button-plus" href="#">用户系统</a>-->
          <!--</div>-->
        <!--</li>-->

        <li>
          <div class="mb15">
            <a class="button button-royal button-rounded button-plus" href="/crawler">数据采集分析系统</a>
          </div>
        </li>

        <li>
          <div class="mb15">
            <a class="button button-royal button-rounded button-plus" href="http://chat.zyythsx.com">实时推送系统</a>
          </div>
        </li>

        <li>
          <div class="mb15">
            <a class="button button-royal button-rounded button-plus" href="#">API接口文档</a>
          </div>
        </li>

      </ul>
    </div>

  </div>



</div>

<div class="">
  <h2>选择地址</h2>
  <div>
    <select id='provinces'></select>
    <select id='parent_citys'></select>
    <select id='child_citys'></select>
    <select id='streets'></select>
  </div>
</div>
<%= javascript_include_tag 'my/address' %>

