<h1>Editing Crawler Website Type</h1>

<%= render 'form', crawler_website_type: @crawler_website_type %>

<%= link_to 'Show', @crawler_website_type %> |
<%= link_to 'Back', crawler_website_types_path %>
