<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="jumbotron text-center">
      <h1>
        你好,欢迎来到这里!
      </h1>
      <p class="">
        <br/>这是一个简单的数据采集系统,采集分析数据只简单需要三步!<br/><br/>
        目前只支持采集前程无忧(<%= link_to '去看看所有采集计划', "/crawler/plans" %>)!其它功能后续开通!
      </p>
    </div>
  </div>
</div>



<div class="row clearfix">
  <div class="col-md-4 column">
    <p>
      首先,先确定自己想要采集什么页面,创建一个采集计划,添加想要采集的URL链接(网页地址).
    </p>
    <p><a class="btn btn-primary btn-large" href="/crawler/plans/new">去创建采集计划</a></p>
  </div>
  <div class="col-md-4 column">
    <p>
      第二步,选择这个计划,输入想要抓取第多少页到多少页,点击抓取,系统就会抓取这些页面上的数据了.
    </p>
    <p><a class="btn btn-primary btn-large" href="/crawler/plans">按计划进行采集</a></p>
  </div>
  <div class="col-md-4 column">
    <p>
      最后,可以查看你所抓取到的数据,并进行统计\分析\处理\导出excel.
    </p>
    <p><a class="btn btn-primary btn-large" href="/crawler/works/tj">对采集数据加以分析处理</a></p>
  </div>
</div>

