<div id="" class="w_100">

  <div class="">

  </div>


  <div class="pos-rel w_80 pd10 mid">
    <p id="notice" class="text-center"><%= notice %></p>
    <h1 class="text-center mb15">省份 | <%= link_to '添加', new_province_path %></h1>

    <% @provinces.each_with_index do |province, i| %>
        <div class="fl w_20 mb15">
          <%= link_to province.name, province %>
        </div>
    <% end %>
  </div>

</div>
